/Project-Cinema/build/
Project-Cinema/nbproject/private/private.properties
Project-Cinema/nbproject/private/private.xml
Project-Cinema/nbproject/private/private.properties
/Project-Cinema/dist/
Project-Cinema/nbproject/project.properties
Project-Cinema/nbproject/private/private.xml
Project-Cinema/nbproject/project.properties
Project-Cinema/nbproject/project.properties
